Cython==0.29.2
cytoolz==0.9.0.1
gensim==3.6.0
matplotlib==3.0.2
nltk==3.2.4
numpy==1.22.0
pandas==0.23.4
regex==2018.1.10
requests==2.20.1
rethinkdb==2.3.0.post6
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.9.0
six==1.10.0
sklearn==0.0
spacy==2.0.18